.blog-post{
    background: linear-gradient(to right, rgb(31, 24, 68), rgb(34, 23, 63));
    color: white;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}
.blog-post p{
    color: gray;
    &:hover {
      color:rgb(252, 252, 252);
    }
}
.blog-post img{
    width: 100%;
    height: auto;
}   
.blog-post a{
    color: rgb(0, 0, 255);
    text-decoration: none;
}